.navbar-brand, #current-forecast, #submit-btn, #clear-btn, .history-btn, .fiveday {
    background-color: #4158D0;
    background-image: linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.navbar-brand {
    font-size: 2rem;
}

#city-name {
    font-size: 1.8rem;
}

#clear-btn, .history-btn {
    display: block;
}

